body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	
	width: 800px;
	margin: 0 auto;
	padding: 10px;
	color: #333;
}

h2 {
	font-weight: bold;
	margin-bottom: 20px;
}

.error {
	color: red;
}

label {
	display: block;
	font-size: 20px;
}

label + label {
	margin-top: 20px;
}

input[type=text] {
	width: 500px;
	font-size: 20px;
	padding: 2px;
	font-family: monospace;
}

textarea {
	width: 500px;
	height: 400px;
	font-size: 17px;
	font-family: monospace;
}

input [type=submit] {
	font-size: 24px;
}

.main-title {
	display: block;
	color: blue;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
	text-decoration: none;
}

.post + .post {
	margin-top: 15px;
}

.post-heading {
	position: relative;
	border-bottom: 3px solid #666;
}

.post-title {
	font-size: 20px;
	font-weight: bold;
}

.post-date {
	position: absolute;
	right: 0px;
	bottom: 0px;
	color: green;
}

.post-content {
	margin-top: 5 px;
}

.labels {
	text-align: right;
	font-size: 12px;
	color: grey;
}