{% extends "base.html" %}

{% block content %}
  <h2>Delete Comment</h2>

    <form method="post">
      <label>
        <div>Delete comment on {{subject}}</div>
        <p>{{content}}</p>
        <textarea name="comment">{{comment}}</textarea>
      </label>

      <div class="error">{{error}}</div>
      <p>Are you sure you wish to Delete this comment?</p>
      <input type="submit">
    </form>
    <p>Back to blog? <a href="/blog">Click here to return to Blog</a></p>
    
{% endblock %}