

{% extends "base.html" %}

{% block content %}

  {% if error %}
  <div class="error">
    {{error}}
  </div>
  {% endif %}
  {{ post.render() | safe }}
  
  {% if post.comments %}

    
      <h2>Comments</h2>

      {% for c in post.comments %}

       {{ c.parent().name }} says:
          <p>{{ c.comment }}</p>
          <a href="/blog/updatecomment/{{post.key().id()}}/{{c.key().id()}}">update</a>
          <span class="separator"> | </span>

      {% endfor %}

      <a href="/blog/newcomment/{{post.key().id()}}">add new comment</a>
    {% endif %}

{% endblock %}
